@use '../base/variable' as var;
@use '../base/mixin' as mix;

.button {
  @include mix.displayFlex(flex, center, center);
  box-sizing: border-box;
  width: 100%;
  max-width: 270px;
  padding: 1em;
  @include mix.adaptivFont(var.$generalTextSize, var.$generalTextSizeMin);
  color: var.$lightColor;
  line-height: var.$generalLineHeight;
  font-weight: 600;
  background: inherit;
  border: 2px solid var.$lightColor;
  border-radius: var.$borderRadius;
  transition: border-color .5s ease, background-color .6s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: var.$accentColorTwo;
      background-color: var.$accentColorTwo;
    }
  }
}