@use '../base/variable' as var;
@use '../base/extentsions';

[data-aos="svg-animation"] {
    stroke: var.$accentColor;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;

    &.aos-animate {
      animation: infint 3s ease 1s forwards;
    }
  }


@keyframes infint {
  0% {
    fill: transparent;
  }

  80% {
    stroke-dashoffset: 0;
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 0;
    fill: var.$accentColorTwo;
    stroke: var.$accentColorTwo;
  }
}

