@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.swiper {
	width: 100%;
	height: 100vh;
}

.swiper-slide {
	@include mix.displayFlex(flex, center, center);
}

.image-wrapper {


	&>img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.swiper-slide1 {
	background: url('../../assets/images/hero/slide1.jpg') center center / cover no-repeat;
}

.swiper-slide5 {
	background: url('../../assets/images/hero/slide5.jpg') center center / cover no-repeat;
}

.swiper-slide10 {
	background: url('../../assets/images/hero/slide10.jpg') center center / cover no-repeat;
}

.swiper-slide11 {
	background: url('../../assets/images/hero/slide11.jpg') center center / cover no-repeat;
}

.swiper-slide12 {
	background: url('../../assets/images/hero/slide12.jpg') center center / cover no-repeat;
}

.swiper-slide13 {
	background: url('../../assets/images/hero/slide13.jpg') center center / cover no-repeat;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 46px;
	color: var.$lightColor;
}

.swiper-button-next,
.swiper-button-prev {
	z-index: 4;
	transition: .8s opacity ease, .4s transform ease;

	@media (any-hover: hover) {
		&:hover {
			opacity: .6;
		}
	}

	&:active {
		transform: scale(.8);
	}
}

.swiper-button-next {
	right: 3%;
}

.swiper-button-prev {
	left: 3%;
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 50px;
}

.swiper-pagination-bullets span {
	width: 15px;
	height: 15px;
	background: #FFF;
}