<footer class="footer">
	<div class="container">
		<div data-aos="fade-up" class="footer__wrapper">
			<div class="footer__requisites">
				<p>ИП СЕЛЕЗНЕВ П.А.</p>
				<p>ОГРН 323237500155952</p>
				<p>©eskbetonpol.ru, 2023</p>
			</div>
			<div class="footer__copyright">
				<p><a title="Политика конфиденциальности" target="_blank" href="/privacy.html">Политика конфиденциальности</a>
				</p>
				<address class="footer__author"><a title="Телеграм автора сайта" target="_blank"
						href="https://t.me/efremandre">задизайнено и
						разработано efremandre</a></address>
			</div>
		</div>
	</div>
</footer>