@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__contact {
	padding: 3em 0;
}

.contact {
	@include mix.displayFlex(flex, center, center);
	color: var.$lightColor;
	background: #EBEBEB url('../../assets/images/bg-contact.png') center center / cover no-repeat;

	@media (any-hover: hover) {
		background-attachment: fixed;
	}

	&__wrapper {
		@include mix.displayFlex(flex, center, stretch);
		margin: 0 -1em;
		flex-wrap: unset;
	}

	&__contact-block {
		flex: 0 1 50%;
		@include mix.displayFlex(flex, center, center);
		flex-direction: column;
		margin: 0 auto;
		padding: 0 1em;
		background: var.$accentColor;
	}

	&__form-block {
		flex: 0 1 50%;
		color: var.$darkColor;
		background: #FFF;
	}

	&__title {
		margin-bottom: 1.3em;
		color: var.$lightColor;
	}

	&__title_cont {
		color: var.$lightColor;
	}

	&__title_form {
		color: var.$darkColor;
	}

	&__contact-description {
		margin-bottom: 15px;
		text-align: center;
	}

	&__social {
		margin-bottom: 20px;
	}

	&__list {
		@include mix.displayFlex(flex, center, center);
	}

	&__form-container {
		width: 100%;
	}

	&__button {
		max-width: 100%;
	}
}