@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__hero {
	position: relative;
}

.hero {
	position: relative;
	@include mix.displayFlex(flex, start, center);
	height: 100%;
	min-height: 100vh;
	background: #ccc;

	@media (any-hover: hover) {
		background-attachment: fixed;
	}

	&__row {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		@include mix.displayFlex(flex, center, center);
	}

	&__wrapper {
		@include mix.displayFlex(flex, center, start);
		flex-direction: column;
		position: relative;
		width: 100%;
		padding-bottom: 1em;
		text-align: left;
		letter-spacing: 0.02em;
	}

	&__main-title {
		text-shadow: 0 4px 10px rgba(0, 0, 0, .6);
		margin-bottom: 0.3em;
	}

	&__subtitle {
		@include mix.adaptivFont(var.$subTitleFontSize, var.$subTitleFontSizeMin);
		margin-bottom: 1em;
		color: var.$lightColor;
		font-weight: 600;
		text-shadow: 0 4px 10px rgba(0, 0, 0, .6);
		line-height: var.$titleHeight;
	}

	&__buttons {
		@include mix.displayFlex(flex, start, center);
		width: 100%;
	}

	&__button {
		box-sizing: border-box;
	}

	@media (any-hover: none) {
		&__button_order-call {
			display: none;
		}

		&__button_call {
			display: flex;
		}
	}

	@media (any-hover: hover) {
		&__button_order-call {
			display: flex;
		}

		&__button_call {
			display: none;
		}
	}
}