@use '../base/variable' as var;
@use 'hero';
@use 'feature-company';
@use 'about-us';
@use 'services';
@use 'feature-services';
@use 'contact';
@use '../modules/modal-img';

.main {
	flex: 1 1 auto;

	&__about-us,
	&__services,
	&__contact {
		padding: 3em 0;
	}
}

section {
	position: sticky;
	top: 0;
}