@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.services {
	color: var.$lightColor;
	background: var.$accentColor url('../../assets/images/sevices/bg-services.png') center center / cover no-repeat;

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 50px 70px;
	}

	&__button {
		max-width: 100%;
	}

	&__title {
		margin-bottom: 1em;
		text-align: left;
		color: var.$lightColor;
	}
}

.card {
	@include mix.displayFlex(flex, center, center);
	flex-direction: column;
	padding: 1em;
	border: 1px solid #FFF;

	&__title-wrapper {
		text-align: center;
	}

	&__btn {
		border: none;
	}

	&__btn_mobile {
		display: none;
	}

	&__image {
		@include mix.displayFlex(flex, center, center);
	}
}